* {
	padding: 0;
	margin: 0;
}
	
body {
	background: lightslategray;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clear {
	clear: both;
}

#container {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 500px;
}

#circulo {
	position: relative;
	display: block;
	margin: 0 auto;
	top: 10;
	width: 500px;
	height: 500px;
	background: lightcoral;
	border-radius: 250px;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}

.espelho {
	position: absolute;
	background: #fff;
	width: 200px;
	height: 20px;
	display: block;
}

#espelho3 {
	top: 0;
	left: 150px;
}

#espelho1 { /* colocar dependencias pros navegadores */
	top: 240px;
	left: 390px;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg););
}

#receptor { /* colocar dependencias pros navegadores */
	bottom: -13px;
	left: 225;
	width: 50px;
	height: 36px;
}

#receptor div {
	height: 20px;
	width: 20px;
	display: none;
	background: #fff;
	border-radius: 52;
	margin: 5px auto 0;
	border: 3px solid black;
}

#lancador { /* colocar dependencias pros navegadores */
	top: 240px;
	left: -90px;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	background: lightgreen;
}

#espelhoCentro {
	top: 245px;
	left: 150px;
	height: 5px;
	transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	-webkit-transform: rotate(135deg);
}

#circulo {
	-webkit-transform: rotate(0deg);
}

#botoes {
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	z-index: 7;
}

.botao {
	float: left;
	display: block;
	background: lightskyblue;
	padding: 5PX;
	padding-left: 15PX;
	padding-right: 15px;
	border-radius: 2px;
	font-family: sans-serif;
	color: #fff;
	font-weight: bold;
}

.botao:hover {
	cursor: pointer;
	background: rgba(135, 206, 250, 0.61);
}

.particula {
	position: absolute;
	background: #000;
	border-radius: 50%;
	display: none;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 10px;
}

#fluxoEter {
	position: absolute;
	display: none;
	height: 107%;
	margin-top: -10px;
	overflow: hidden;
	width: 100%;
	z-index: 0;
}

.linhaFluxo {
	height: 40px;
	width: 4000px;
	clear: both;
	overflow: hidden;
}

.fluxo {
	background: red;
	display: block;
	float: left;
	height: 10px;
	margin-left: 40px;				
	width: 10px;
}

#ajudaPopUp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: lightskyblue;
	opacity: 0.7;
	overflow: hidden;
	z-index: 8;
	display: none;
}

#ajudaPopUpMsg{
	font-family: "Verdana";
	z-index: 9;
	position: absolute;
	width: 100%;
	height: 70%;
	background: #f4f4f4;
	margin: -17% 0 0 -10px;
	padding: 0;
	top: 50%;
	box-shadow: 0px 0px 50px #8d8d8d;
	overflow: auto;
	display: none;
}

#ajudaPopUpMsg *{
	margin-left: 30px;
}