body {
	background: lightslategray;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#container {
	position: relative;
	top: 50;
	left: 100;
	display: block;
	width: 500px;
	height: 500px;
}

#circulo {
	position: relative;
	display: block;
	width: 500px;
	height: 500px;
	background: lightcoral;
	border-radius: 250px;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}

.espelho {
	position: absolute;
	background: #fff;
	width: 200px;
	height: 20px;
	display: block;
}

#espelho3 {
	top: 0;
	left: 150px;
}

#espelho1 { /* colocar dependencias pros navegadores */
	top: 240px;
	left: 390px;
	-webkit-transform: rotate(90deg);
}

#receptor { /* colocar dependencias pros navegadores */
	bottom: -13px;
	left: 225;
	width: 50px;
	height: 36px;
}

#receptor div {
	height: 20px;
	width: 20px;
	display: none;
	background: #fff;
	border-radius: 52;
	margin: 5px auto 0;
	border: 3px solid black;
}

#lancador { /* colocar dependencias pros navegadores */
	top: 240px;
	left: -90px;
	-webkit-transform: rotate(90deg);
	background: lightgreen;
}

#espelhoCentro {
	top: 245px;
	left: 150px;
	height: 5px;
	-webkit-transform: rotate(135deg);
}

#circulo {
	-webkit-transform: rotate(0deg);
}

#botoes {
	position: relative;
}

.botao {
	float: left;
	display: block;
	background: lightskyblue;
	padding: 5PX;
	padding-left: 15PX;
	padding-right: 15px;
	border-radius: 2px;
	font-family: sans-serif;
	color: #fff;
	font-weight: bold;
}

.botao:hover {
	cursor: pointer;
	background: rgba(135, 206, 250, 0.61);
}

.particula {
	position: absolute;
	background: #000;
	border-radius: 50%;
	display: none;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 10px;
}

#fluxoEter {
	position: absolute;
	display: none;
	height: 107%;
	margin-top: -10px;
	overflow: hidden;
	width: 100%;
	z-index: 0;
}

.linhaFluxo {
	height: 40px;
	width: 4000px;
	clear: both;
	overflow: hidden;
}

.fluxo {
	background: red;
	display: block;
	float: left;
	height: 10px;
	margin-left: 40px;				
	width: 10px;
}
